<div>
  <div class="row center-xs" style="margin: 64px 0">
    <div class="col" style="width: 90%">
      <div class="row middle-xs">
        <div class="col-xs-5">
          <img
            src="assets/img/pet.png"
            class="img-responsive"
            alt=""
            srcset=""
          />
        </div>
        <div class="col-xs-7 info">{{ user?.email }}</div>
      </div>
    </div>
  </div>
  <div class="row space">
    <button mat-button class="col-xs-12 icon-nav" routerLink="/main/orders">
      <mat-icon svgIcon="order-bool-ascending-variant"></mat-icon>
      Ordenes
    </button>
  </div>
  <div class="row space">
    <button mat-button class="col-xs-12 icon-nav">
      <mat-icon svgIcon="order-bool-ascending-variant"></mat-icon>
      Proveedores
    </button>
  </div>
  <div class="row space">
    <button mat-button class="col-xs-12 icon-nav">
      <mat-icon svgIcon="order-bool-ascending-variant"></mat-icon>
      Encuestas
    </button>
  </div>
</div>
