<div>
    <div class="row center-xs" style="margin: 60px 0;">
        <div class="col" style="width: 90%;">
            <div class="row" style="width: 100%;">
                <div class="col-xs-5 image">
                    <mat-icon svgIcon="account" class="account"></mat-icon>
                </div>
                <div class="col-xs-7 info">Hector Castorena</div>
            </div>
        </div>
    
    </div>
    <div class="row space">
        <button mat-button class="col-xs-12 icon-nav" routerLink="/main/orders">
            <mat-icon svgIcon="order-bool-ascending-variant"></mat-icon>
            Ordenes
        </button>
    </div>
    <div class="row space">
        <button mat-button class="col-xs-12 icon-nav">
            <mat-icon svgIcon="order-bool-ascending-variant"></mat-icon>
            Proveedores
        </button>
    </div>
    <div class="row space">
        <button mat-button class="col-xs-12 icon-nav">
            <mat-icon svgIcon="order-bool-ascending-variant"></mat-icon>
            Encuestas
        </button>
    </div>
</div>

