.image {
    // padding: 10px;
    margin: 10px 0;
    // max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    padding: 10px;
    font-size: 20px;
    white-space: pre-wrap;
    // max-width: 50%;
    text-align: left;
}

.account {
    // font-size: 40px;
    transform: scale(3);
    
}

.space {
    // max-width: 90%;
    margin:10px 0;
}

.icon-nav{
    text-align: left !important;
    padding-left: 30px !important;
}
