.title {
    // display: flex;
    // justify-content: left;
    // align-items: center;
    // vertical-align: middle;
    // text-align: center;
    padding: 20px;
}

.title-text {
    margin: 0px !important;
}

table {
    width: 100%;
  }
  